@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {

  .card-Container {
    @apply grid gap-4 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-7 mx-4
  }

  .card {
      @apply items-center h-auto rounded-xl bg-red-400 text-center;
  }
}